* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url('https://wallpapertag.com/wallpaper/full/5/3/9/112974-vertical-church-background-2528x1424-for-desktop.jpg') fixed center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.intro {
    background: url("https://scontent.fias1-1.fna.fbcdn.net/v/t1.0-9/23659583_546827102331274_8229359205545256805_n.jpg?_nc_cat=110&_nc_oc=AQlwflno5KlK-G_UPG01R8mRN151g3BSd7gfMZdw_zDuVLHQno_HGmQgJ2ciM7AMPkS6gIPZATQYQILpodL6cRFg&_nc_ht=scontent.fias1-1.fna&oh=137e87284fdbbc869d6c1836392d87ba&oe=5E47C0F6") center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.intro .intro-title {
    padding: 20%;
    font-size: 50px;
    text-shadow: 0px 0px 20px gray;
}
.intro .intro-title a button {
    font-size: 25px;
    padding: 5px;
    width: 25%;
    height: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(rgb(120, 20, 20),rgb(100, 10, 10));
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 25px;
}
.description {
    color: white;
    background: rgb(120, 20, 20);
}
.description p {
    font-size: 20px;
}
.description img {
    display: inline-block;
    width: 25%;
    height: 25%;
    border: 1px solid white;
}
.description .little-image {
    width: 15%;
    height: 15%;
    margin: 0px 1% 0px 1%;
}
.container {
    margin-top: 1%;
    line-height: 50px;
    margin-right: 2%;
}
.container p {
    color: #303030;
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
}
.container h1 {
    margin-left: 20px;
    border-bottom: 3px solid #303030;
    text-align: left;
    font-size: 35px;
}
@media screen and (max-width: 1500px) {
    .intro .intro-title {
        padding: 20%;
        font-size: 15px;
    }
    .intro .intro-title a button {
        font-size: 15px;
        height: 25px;
        padding: 0px;
        border: 0.5px solid white;
    }
    .container {
        margin-top: 2%;
        line-height: 32px;
        margin-right: 2%;

    }
    .container p {
        color: #303030;
        font-size: 20px;
        text-align: left;
        margin-left: 20px;
    }
    .container h1 {
        margin-left: 20px;
        border-bottom: 3px solid #303030;
        text-align: left;
        font-size: 25px;
    }
}