footer {
    background-color: darkred;
    color: whitesmoke;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
footer p {
    font-size: 25px;
}
footer ul {
    display: flex;
    justify-content: space-around;
}
footer ul li {
    font-size: 20px;
    list-style: none;
}
footer ul li a {
    color: whitesmoke;
    text-decoration: none;
}
@media screen and (max-width: 1500px) {
    footer p {
        font-size: 20px;
    }
    footer ul li {
        font-size: 15px;
    }
}