* {
    margin: 0px;
    padding: 0px;
}
footer {
    background-color: rgb(109, 8, 8);
    color: white;
    margin-top: 25px;
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
footer h1 {
    color: rgb(225, 225, 225);
    padding-top: 15px;
    float: left;
    font-size: 15px;
}
footer a img {
    align-self: center;
    float: right;
    width: 40px;
    height: 40px;
}
footer ul {
    padding-top: 15px;
    list-style: none;
}
footer ul li {
    display: inline-block;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
}
footer ul li a {
    color: white;
    transition: 1s;
}
footer ul li a:hover {
    text-shadow: 0px 0px 15px white;
}
@media screen and (max-width: 1250px) {
    footer  {
        padding: 1%;
    }
    footer h1{
        font-size: 12px;
        margin-right: 25px;
    }
    footer ul li {
        font-size: 12px;
        margin: 0px 5px 0px 5px;
    }
    footer a img {
        margin-top: 5px;
        width: 45px;
        height: 45px;
    }
}
