.intro {
    background: url("https://scontent.fias1-1.fna.fbcdn.net/v/t1.0-9/23659583_546827102331274_8229359205545256805_n.jpg?_nc_cat=110&_nc_oc=AQlwflno5KlK-G_UPG01R8mRN151g3BSd7gfMZdw_zDuVLHQno_HGmQgJ2ciM7AMPkS6gIPZATQYQILpodL6cRFg&_nc_ht=scontent.fias1-1.fna&oh=137e87284fdbbc869d6c1836392d87ba&oe=5E47C0F6") center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}