* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(125, 17, 17);  
}
nav img {
    float: left;
    width: 95px;
    height: 95px;
    border-radius: 100%;
}
.title {
    color: white;
    font-size: 25px;
    margin-left: 0px;
}
.nav-links {
    color: white;
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-links a:hover {
    border-bottom: 2px solid white;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 35px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: all 0.3s ease;
}
.intro img {
    width: 80%;
}
.intro .cool-title {
    color: white;
    display: flex;
    position: absolute;
    flex-direction: row;
}

@media screen and (max-width:1000px) {
    body {
        overflow-x: hidden;
    }
    .title {
        font-size: 15px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 500px;
        top: 75px;
        width: 200px;
        background-color: rgb(125, 17, 17);
        display: flex;
        flex-direction: column;
        display: none;
    }
    .burger {
        display: block;
    }
    .intro img {
        width: 100%;
    }
}

.nav-active {
    display: flex;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}